<section class="about-section section">

  <div class="row" id="row-pad">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 class="heading">ABOUT</h1>
      <p class="info">A creative coder with a passion for tech. After graduating in PHILOSOPHY from the University of West of England, and spending time as an accountant, I discovered a passion for programming, left my job and embarked upon a web development 'bootcamp' with the esteemed Makers Academy in London.</p>
    </div>
    <div class="col-md-2"></div>
  </div>
  
</section>