<section class="contact-section section">
  <div class="row" id="row-pad">

    <div class="col-md-12">
      <h1 class="heading">CONTACT</h1>
    </div>

    <div class="col-md-3 col-xs-0"></div>

    <div class="col-md-2 col-xs-4">
      <a href="mailto:luke.clewlow@gmail.com"><img class="contact-icons" id="email-icon" src="/public/images/email11.svg"></a>
    </div>
    <div class="col-md-2 col-xs-4">
      <a href="https://www.linkedin.com/profile/view?id=408402090&trk=hp-identity-name" target="_blank"><img class="contact-icons" src="/public/images/linkedin11.svg"></a>
    </div>
    <div class="col-md-2 col-xs-4">
      <a href="https://github.com/lukeclewlow" target="_blank"><img class="contact-icons" src="/public/images/github11.svg"></a>
    </div>

    <div class="col-md-3 col-sm-0 col-xs-0"></div>

  </div>
</section>