<section class="top-section section">
  <div class="row first-row">
    <div class="col-xl-8 col-md-6 col-sm-7 col-md-push-6 col-sm-push-5">
      <img src="/public/images/robot_smoking.gif" class="robot">
    </div> 
    <div class="col-xl-4 col-md-6 col-sm-5 col-md-pull-6 col-sm-pull-7">
      <h1 class="top-word">CREATIVE...</h1>
      <h1 class="bottom-word">WEB DEVELOPER...</h1>
      <h1 class="bottom-word">PROBLEM SOLVER...</h1>
    </div> 
  </div>
</section>