<section class="interests-section section">
  <div class="row" id="row-pad">

    <div class="col-md-12">
      <h1 class="heading" id="interests-heading">INTERESTS</h1>
    </div>

    <div class="col-sm-2 col-xs-4">
      <img class="hobby-icons" src="/public/images/Camping.jpg">
    </div>
    <div class="col-sm-2 col-xs-4">
      <img class="hobby-icons" src="/public/images/climbing.jpg">
    </div>
    <div class="col-sm-2 col-xs-4">
      <img class="hobby-icons" src="/public/images/mountain-biking.jpg">
    </div>
    <div class="col-sm-2 col-xs-4">
      <img class="hobby-icons" src="/public/images/outdoors.jpg">
    </div>
    <div class="col-sm-2 col-xs-4">
      <img class="hobby-icons" src="/public/images/swimming.jpg">
    </div>
    <div class="col-sm-2 col-xs-4">
      <img class="hobby-icons" src="/public/images/beaches.jpg">
    </div>
  </div>
</section>