<section class="skills-section section">

  <div class="row" id="row-pad">

    <div class="col-md-12">
      <h1 class="heading">SKILLS</h1>
    </div>

    <div class="col-md-4">
      <h2 class="skills-heading">CODE</h2>
      <p class="skills-body">Makers Academy put an emphasis on learning great coding practices and writing easy to read and maintainable code. I learnt about object-oriented programming, SOLID design principles, test-driven development and agile methodology.</p>
    </div>

    <div class="col-md-4">
      <h2 class="skills-heading">PROBLEM SOLVING</h2>
      <p class="skills-body">Coming from a background in Philosophy I was already well-versed in how to approach problems. Understanding of the problem space and thinking rationally about possible solutions. This has helped me become a self-starting and independent learner.</p>
    </div>

    <div class="col-md-4">
      <h2 class="skills-heading">LOGIC</h2>
      <p class="skills-body">I learnt pure logic whilst at University. This has helped me approach programming in an effective way. I am better able to understand complex computational problems and algorithms through my previous work with this.</p>
    </div>

  </div>

</section>