<section class="timeline-section" id="cd-timeline">
  <div class="cd-timeline-block">
    <div class="cd-timeline-img">
      <img src="/public/images/makersacademy.png" alt="Picture">
    </div> <!-- cd-timeline-img -->
 
    <div class="cd-timeline-content">
      <h2>UWE - BA(Hons)Philosophy</h2>
      <p class="timeline-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      <span class="cd-date">Sep '06 - Jun '09</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->
  
  <div class="cd-timeline-block">
    <div class="cd-timeline-img">
      <img src="/public/images/makersacademy.png" alt="Picture">
    </div> <!-- cd-timeline-img -->
 
    <div class="cd-timeline-content">
      <h2>Makers Academy</h2>
      <p class="timeline-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
      <span class="cd-date">Dec '14 - Mar '15</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

</section>