<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Luke Clewlow</title>
    <link type="text/css" rel="stylesheet" href="public/css/custom.css"/>
    <link type="text/css" rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <!-- <link href='https://fonts.googleapis.com/css?family=Dosis:200,300,400' rel='stylesheet' type='text/css'> -->
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" >

      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand name" href="#">Luke Clewlow</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">SKILLS</a></li>
            <li><a href="#">INTERESTS</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
        </div>
      </div>

    </nav>

    <container class="container-fluid">
      <row class="row first-row">
        <section class="col-xl-4 col-md-6 col-sm-5">
          <h1 class="top-word">CREATIVE...</h1>
          <h1 class="bottom-word">WEB DEVELOPER...</h1>
          <h1 class="bottom-word">PROBLEM SOLVER...</h1>
        </section>
        <section class="col-xl-8 col-md-6 col-sm-7">
          <img src="/public/images/robot_smoking.gif" class="robot">
        </section>
      </row>


      <row class="row" id="about">
        <section class="col-md-2"></section>
        <section class="col-md-8">
          <h1 id="about">ABOUT</h1>
          <p class="info">A creative coder with a passion for tech. After graduating in PHILOSOPHY from the University of West of England, and spending time as an accountant, I discovered a passion for programming, left my job and embarked upon a web development 'bootcamp' with the esteemed Makers Academy in London.</p>
        </section>
        <section class="col-md-2"></section>
      </row>

      <row class="row" id="about">
        <section class="col-md-4"></section>
        <section class="col-md-4">
 
        </section>
        <section class="col-md-4"></section>
      </row>

    </container>

  </body>
</html>