/*MAIN ELEMENTS*/

html {
	font-size: 2em;
	margin: 0 auto;
}

body {
	font-family: 'Amatic SC', cursive !important;
	padding: 0;
}

nav {
	margin:0 auto;
	font-family: 'Amatic SC', cursive;
	font-size: 2em;
}

section {
	font-size: 7em;
	padding-top: 0 !important;
}

/*BACKGROUND IMAGES*/

.top-section {
	background-image: url('/public/images/concrete_seamless.png');
}

.about-section {
	background-image: url('/public/images/symphony.png');
}

.skills-section {
	background-image: url('/public/images/swirl_pattern.png');
}

/*CLASSES*/

.row {
	margin: 0 auto;
}

.top-word {
	
}

.top-word, .bottom-word {
	font-family: 'Amatic SC', cursive;
	font-size: 0.75em;
	opacity: 0.5;
}

.name {
	font-size: 1em !important;
}

.robot {
	margin-right: -0.1em !important;
	height: 100%;
	width: 100%;
	opacity: .1;
	max-width: 439px;
	max-height: 470px;
}

.info {
	font-size: 0.25em;
	padding-top: .25em;
}

.skills-heading {
	font-size: 0.75em;
	text-align: center;
}

.skills-body {
	text-align: left;
	font-size: 0.3em;
	padding: 0.1em;
	margin-bottom: 3em;
}

#about {
	text-align: center;
	font-size: 1em !important;
	margin: 0;
	padding-top: 0.5em;
	margin-bottom: 0;
}

#row-pad {
	margin: 0;
	padding: 0;
}

.section {
	margin: 0;
	padding-top: 0.5em;
	margin-bottom: 0;
}

.heading {
	text-align: center;
	font-size: 1em;
	margin-top: 1em;
}


/* <------ RESPONSIVE DESIGN CHOICES ------> /*

/* Large desktop */
@media (min-width: 1200px) {
	.top-word, .bottom-word {
		font-size: 1em;
	}

	.top-word {
		margin-top: 50%;
	}

	.robot {
		margin-right: -0.75em;
		margin-top: 0.75em;
		float: right;
		height: 100%;
		width: 100%;
		opacity: .1;
	}

	.info {
		font-size: 0.5em;
		padding-top: .25em;
	}
}

@media (min-width: 980px) and (max-width: 1199px) {
	.top-word, .bottom-word {
		font-size: 1em;
	}

	.top-word {
		margin-top: 50%;
	}

	.robot {
		float: right;
		height: 100%;
		width: 100%;
		opacity: .1;
		max-width: 439px;
		max-height: 470px;
	}

	.info {
		font-size: 0.5em;
		padding-top: .25em;
	}
}

 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.top-word {
		margin-top: 50%;
	}
	
	.info {
		font-size: 0.5em;
		padding-top: .25em;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
 
/* Landscape phones and down */
@media (max-width: 480px) {

}

